Binaries/
DerivedDataCache/
Intermediate/
Saved/

Plugins/*/Binaries/
Plugins/*/Intermediate/

.vs/
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.opendb

*.obj
*.pch
*.dll
*.exe
*.pdb
*.log
*.tmp

.DS_Store
Thumbs.db

*.autosave